[Unit]
Description= [Master] Enterprise Edge Gateway Discovery Agent (Loyalty)
Requires=network-online.target
After=network-online.target

[Service]
WatchdogSec=600
ExecStart=/opt/Axway/agents/master/discovery_agent --pathConfig /opt/Axway/agents/master --envFile /opt/Axway/agents/master/da_env_vars_LO.env
Restart=always
User=axway
Group=axway

[Install]
WantedBy=multi-user.target
